body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    background-color: ghostwhite;
}
header {
     display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: ghostwhite;
}
nav ul {
    
    display: flex;
    gap: 15px;
}
.profile {
    display: flex;
    flex-direction: column;

    /* justify-content: center; */
    margin-top: 50px;
    flex-direction: row;
}
.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.social-icons p {
    margin: 0 5px;
    width: 100px;
    font-size: 1rem;
}
.buttons button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
   
}
.read-blog {
    background-color: blue;
    color: white;
}
.about-me {
    background-color: lightgray;
}
.buttons button:hover{
    background-color: bisque;
}
.font{
    color: lightcoral;
}
.headersize:hover{
    color: cornflowerblue;
}
.info{
    text-align: left
   
    
}

.photo{
    
    padding: 0 20px 0 20px;
    border-radius: 15px;
    padding-top: 25px;
}
footer {
    display: flex;
    margin-top: 100px;
    padding: 10px;
    color: #666;
    justify-content: center;
}
@media (max-width: 900px) {
    .container {
        max-width: 80%;
        padding: 15px;
    }
    .buttons button {
        padding: 8px 16px;
    }
}
@media (max-width: 600px) {
    .container {
        max-width: 100%;
        margin: 20px auto;
        padding: 10px;
    }
}
        
